<ion-tabs class="tabs-striped tabs-color-assertive tabs-icon-top">
	<ion-tab title="Explore" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ui-sref="explore">
		<ui-view name="explore-tab"></ui-view>
	</ion-tab>
	<ion-tab title="Feed" icon-on="ion-ios-pulse-strong" icon-off="ion-ios-pulse" ui-sref="feed">
		<ui-view name="feed-tab"></ui-view>
	</ion-tab>
	<ion-tab title="Upload" icon-on="ion-ios-upload" icon-off="ion-ios-upload-outline" ui-sref="upload">
		<ui-view name="upload-tab"></ui-view>
	</ion-tab>
	<ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
		<ui-view name="about-tab"></ui-view>
	</ion-tab>
	<ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="settings">
		<ui-view name="settings-tab"></ui-view>
	</ion-tab>
</ion-tabs>